---
import Footer from '@/components/Footer';
import Navbar from '@/components/Navbar';
import '@/styles/globals.css';
import '@fontsource-variable/inter';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const ogImageUrl = 'https://deltaml.org/images/delta-banner.png';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Delta</title>
    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:title" content={`${title} | Delta`} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://deltaml.org/" />
    <meta property="og:locale" content="en" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Delta" />
    <meta property="og:image" content={ogImageUrl} />
    <!-- Twitter Open Graph -->
    <meta property="twitter:title" content={`${title} | Delta`} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@deltaml_org" />
    <meta property="twitter:creator" content="@deltaml_org" />
    <meta property="twitter:image" content={ogImageUrl} />
  </head>

  <body>
    <div class="flex min-h-screen flex-col">
      <Navbar client:load />

      <div class="grow">
        <slot />
      </div>

      <Footer />
    </div>
  </body>
</html>

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }

    return window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light';
  };

  const updateTheme = () => {
    const isDark = getThemePreference() === 'dark';

    document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
  };

  updateTheme();

  window
    .matchMedia('(prefers-color-scheme: dark)')
    .addEventListener('change', () => updateTheme());
</script>
